<form action="/coords_to_weather/results">
  <div>
    <label for="the_latitude">Latitude</label>
    <input type="text" placeholder="Enter the latitude" name="user_latitude" id="the_latitude">
  </div>

  <div>
    <label for="the_longitude">Longitude</label>
    <input type="text" placeholder="Enter the longitude" name="user_longitude" id="the_longitude">
  </div>

  <button>
    Lookup Weather!
  </button>
</form>