<h1>Street address to coordinates results</h1>
<dl>
  <dt>Street Address</dt>
  <dd><%= @user_add%></dd>

  <dt>Latitude</dt>
  <dd><%= @lat%></dd>

  <dt>Longitude</dt>
  <dd><%= @lng%></dd>
  
</dl>
