</table>
    <h1>Street address to coordinates calculation</h1>
<form action="/street_to_coords/results">
  <div>
    <label for="the_address">Street Address</label>
    <input type="text"  class="form-control" placeholder="Enter the address" name="user_street_address" id="the_address">
  </div>

  <button class="btn btn-outline-info btn-block">
    Lookup Coordinates!
  </button>
</form>