<h1>Street address to weather calculation</h1>
<form action="/street_to_weather/results">
  <div>
    <label for="the_address">Street Address</label>
    <input type="text" placeholder="Enter the address" name="user_street_address" id="the_address">
  </div>

  <button>
    Tell me the weather!
  </button>
</form>