
<!DOCTYPE html>
<html>
  <head>
    <title>Omnicalc 2</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="O6Y2fgEf8z95xcY0R2ZIriPAX4jdf3cr7RgGMAQigeaobQZY3h2KqDPe/rjzjia53Daia6Dpuof85CsTiw6Rkw==" />

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  </head>

  <body>
      <table style="width: 100%" border="1">
      <tr>
        <td>
          <a href="/add">Add</a>
        </td>

        <td>
          <a href="/subtract">Subtract</a>
        </td>

        <td>
          <a href="/multiply">Multiply</a>
        </td>

        <td>
          <a href="/divide">Divide</a>
        </td>

        <td>
          <a href="/muggle_translate">Translate</a>
        </td>
        
        <td>
          <a href="/street_to_coords/new">
            Street to Coordinates
          </a>
        </td>

        <td>
          <a href="/coords_to_weather/new">
            Coordinates to Weather
          </a>
        </td>

        <td>
          <a href="/street_to_weather/new">
            Street to Weather
          </a>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
